{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My News API</title>
</head>
  <body>
  
    <h1>{{ title }}</h1>

    <div id="latest-news">
        {% for news in latest_news %}
            <div class="news-item">
                <h2>{{ news.headline }}</h2>
                <p>Source: {{ news.source }}</p>
                <p>Brief me: {{ news.description }}</p>
                <p><a href="{{ news.url }}">Read more</a></p>
            </div>
        {% endfor %}
    </div>
    <h1>Welcome to Random Facts and Images</h1>

    <h2>Random Events</h2>
    <p>{{ events }}</p>

    <h2>Are You Bored?</h2>
    <p>{{ activity }}</p>

    <h2>Random Dog Breeds?</h2>
    <img src="{{ dog }}" alt="Random Dog Image">
  
    
  </body>
</html>
