{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My News API</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container">
    <h1>The Whimsical Chronicles: Your World Unveiled!</h1>
    <p>&copy;Maosa Duke</p>

    <div id="latest-news">
        {% for news in latest_news %}
            <div class="news-item">
                <h2>{{ news.headline }}</h2>
                <p>Source: {{ news.source }}</p>
                <p>Brief me: {{ news.description }}</p>
                <p><a href="{{ news.url }}">Read more</a></p>
            </div>
        {% endfor %}
    </div>

    <div class="random">
        <h2>Welcome to Random Facts and Images</h2>

        <h3>Random Repo</h3>
        <p>{{ events.url }}</p>

        <h3>Are You Bored?</h3>
        <p>{{ activity }}</p>

        <h3>Random Dog Breed</h3>
        <img src="{{ dog }}" alt="myrandom-dog">

        <p>All rights reserved</p>
    </div>
</div>

<footer class="footer">
    <p>&copy; 2024;</p>
</footer>

</body>
</html>
